* {
    margin: 0;
}

li {
    list-style-type: none;
}

#header-container {
    background-color: #1F2937;
    height: 90px;
    color: white;
    display: flex;
    align-items: center;
}

#header-title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    flex: 3;
}

