* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

#header-container {
    background-color: #7d0000;
    height: 90px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-title-container, #header-link-container {
    margin: 40px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
}

#header-title-container {
    flex: 1;
}

#header-link-container {
    flex: 2;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

/* Hero Div */
#hero-div {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 400px;
}

#hero-main-text {
    font-size: 48px;;
}

#hero-secondary-text {
    font-size: 18px;
}