* {
    margin: 0;
}

li {
    list-style-type: none;
}



#header-container {
    background-color: #1F2937;
    height: 90px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-title, #header-link {
    display: inline-block;
}

#header-title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    flex: 3;
}

#header-link {
    flex: 1;
    margin-left: auto;
}